/*CSS CONFIGURATION FOR HOMEPAGE*/

/*Google Search*/
div.home-google-search{
    margin: auto;
    margin-top: 50px;
    text-align: center;
    color: white;
    font-family: 'Montserrat', arial;
    
}

div.homeHide{
    opacity: 0;
    height: 0px;
}
/*This makes home animated*/

div.homeAnimation{
    -webkit-animation-name: homeAnimation; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
    animation-name: homeAnimation;
    animation-duration: 1s;
    animation-delay: 05.s;
    animation-fill-mode: forwards;
}

@keyframes homeAnimation {
    0%   {
        opacity: 0;
    }   
    100%   {
         opacity:1;
         height: auto;
    }
}

@-webkit-keyframes homeAnimation {
    0%   {
        opacity: 0;
    }   
    100%   {
         opacity:1;
         height: auto;
    }
}