div.horoscope-container-box{
    top: 30px;
    margin: auto;
    height: 350px auto;
    background-color: rgba(104, 104, 104, 0.521);
    color: white;  
    border-radius: 5px; 
    -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0,0.5);
    -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}

div.horoscope-container-image{
    margin: auto;
    text-align: center;
}

div.horoscope-container-image img{
    height: 200px;
    widows: 200px;
    padding-top: 30px;
    text-align: center;
}

/*Fix for the horoscope details viewed in a small screen*/

div.horoscope-container-text{
    margin: auto;
    height: 320px;
    padding-top: 40px;
}

div.horoscope-container-text p{
    margin: auto;
    padding-top: 20px;
}

@keyframes loadingRotation{
    
        from {
            transform:rotate(0deg);
        }
        to {
            transform:rotate(360deg);
        }
    
}

@media only screen and (max-width: 600px) {
    div.horoscope-container-text{
        margin: auto;
        height: 320px;
        padding-top: 40px;
        text-align: center;
    }
    
    div.horoscope-container-text p{
        margin: auto;
        padding-top: 20px;
        text-align: center;
    }    
  }