.Carousel{
    top: 30px;
    margin-top: px;
    margin: auto;
    height: 220px;
    background-color: rgba(201, 175, 175, 0.521);
    color: white;  
}

.carousel .slide {
    background-color: rgba(0, 128, 0, 0);
    margin-top: 40px;
    height: 250px;
    width: 70%;
    margin: auto;
   

}

img.icon-app{
    height: 100px;
    width: 100px;
    padding: 20px 20px;
    margin: auto;
    text-align: center;
    background-color: rgba(201, 175, 175, 0);
}

div.image-container{
    padding: 30px;
    height: 250px;
    text-align: center;
}

div.image{
    height: 120 px;
    background-color: rgba(201, 175, 175, 0);
    width: 120px;
    margin: auto;
    text-align: center;
    transition: transform .2s;
   
}

div.image:hover{
    transform: scale(1.2);
}

div.image{
    height: 100px;
    width: 100px;
    border-radius: 50px;
    background-color: rgba(68, 68, 67, 0.356)
}

h6.horoscope-name{
    color: white;
    font-family: 'Raleway', sans-serif;
    background-color: rgba(201, 175, 175, 0);
    margin: auto;
    padding: 20px;
    
}

p.horoscope-dates{
    color: white;
    font-family: 'Raleway', sans-serif;
    background-color: rgba(201, 175, 175, 0);
    margin: auto;


}

/**
THIS WiLL HIDE THE HOROSCOPE COMPONENT
**/

div.hideHoroscope{
    -webkit-animation-name: hideHoroscope; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 0.5s; /* Safari 4.0 - 8.0 */
    animation-name: hideHoroscope;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes hideHoroscope {
    0%   {
        opacity: 1;
    }   
    100%   {
         opacity:0;
         height: 0px;
    }
}

@-webkit-keyframes hideHoroscope {
    0%   {
        opacity: 1;
    }   
    100%   {
         opacity:0;
         height: 0px;
    }
}

div.carousel-buttons{
    margin: auto;
}

div.carousel-buttons div{
    background-color:rgba(222, 222, 222, 0);
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 10px;
}

div.carousel-buttons div i.fas{
    color: white;
    font-size: 30px;
    opacity: 0.5;
    transition: transform .2s;
}

div.carousel-buttons div i.fas:hover{
    transform: scale(2);
}

div.carousel-buttons div i{
    color: white;
    font-size: 25px;
    opacity: 0.5;
    transition: transform .2s;
}