body{
    background: url(../img/back1.jpg) no-repeat center center fixed;
    background-size: cover;
}

.container{
    overflow: hidden;
}

div.app-banner{
    margin: auto;
    margin-top: 30px;
    text-align: center;
    height: 200px;
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    padding-top: 10px;
    background-color: rgba(68, 68, 67, 0.356);
    color: white;
}

@media only screen and (max-width: 650px) {
    div.app-banner{
        margin: auto;
        margin-top: 10px;
        text-align: center;
        height: 350px;
        font-family: 'Raleway', sans-serif;
        font-size: 36px;
        padding-top: 10px;
        background-color: rgba(68, 68, 67, 0.356);
        color: white;
    }

}

@media only screen and (max-width: 820px) {
    div.app-banner{
        margin: auto;
        margin-top: 10px;
        text-align: center;
        height: 350px;
        font-family: 'Raleway', sans-serif;
        font-size: 36px;
        padding-top: 10px;
        background-color: rgba(68, 68, 67, 0.356);
        color: white;
    }

}

div.app-banner h1{
    font-size: 25px;
}

div.app-banner h2{
    font-size: 20px;
}

div.app-choose{
    color: white;
    text-align: center;
    font-size: 25px;
    padding: 30px 30px;
}

