div.home-mood-box{
    margin: auto;
    margin-top: 50px;
    background-color: rgba(104, 104, 104, 0.521);
    height: 150px;
    color: white;  
    border-radius: 5px; 
    -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0,0.5);
    -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}

/*Mood image*/
div.home-mood-box img{
    width: 70px;
    height: 70px;
    position: relative;
    top: 2px;
    transition: transform .2s;
    border-radius: 70px;
    -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0,0.5);
    -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);

}
/*Mood fix for small screens*/
@media only screen and (max-width: 600px) {
    div.home-mood-box img{
        width: 60px;
        height: 60px;
        position: relative;
        top: 2px;
        transition: transform .2s;
        border-radius: 60px;
        -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0,0.5);
        -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
        box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    }

    div.home-mood-box-img{
        height: 65px;
        width: 65px;
        position: relative;
        top: 10px;
        padding-left: 0px;
        margin-right: 0px;
        padding-right: 0px;
    }

  }

/*Mood animation hover*/
div.home-mood-box img:hover{
    transform: scale(1.2);
}

/*Mood image box*/
div.home-mood-box-img{
    height: 75px;
    width: 75px;
    position: relative;
    top: 10px;
    margin: auto;
}

div.home-mood-box h4{
    margin: auto;
    text-align: center;
    padding-top: 10px;
    font-style: oblique;
    font-family: 'Montserrat', arial;
}

/*HOVER MOOD ANIMATION*/
